*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.exe
*.out
*.app
*.nv-gpudmp
build*/*
.cache
lbuild/
imgui.ini
data/shaders/
data/*scenes/
data/scenes.lnk
debug.log
data/debug.log
bench.db
.vs/
out/